.container {
  height: 90vh;
}

.status {
  color: #9FA0A0;
  font-family: 'ROKAFSansMedium';
  font-style: normal;
  font-weight: 500;
}

.reservationList {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.reservationInstance {
  background-color: white;
  border-radius: 25px;
  width: 75%;
  height: 15vh;
  display: block;
}