.container {
  height: 90vh;
}

.status {
  color: #9FA0A0;
  font-family: 'ROKAFSansMedium';
  font-style: normal;
  font-weight: 500;
}

.reservationList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reservationInstance {
  background-color: white;
  border-radius: 25px;
  width: 70%;
  height: 15vh;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.textArea {
  width: 94%;
  height: 90%;
}

.room_name {
  flex: 1;
  font-family: 'ROKAFSansMedium';
  font-style: normal;
  font-weight: 500;
  font-size: larger;
}

.building_name {
  flex: 1;
  font-family: 'ROKAFSansMedium';
  font-style: normal;
  font-weight: 500;
}

.username {
  flex: 1;
  font-family: 'ROKAFSansMedium';
  font-style: normal;
  font-weight: 500;
}

.activity_name {
  flex: 1;
  font-family: 'ROKAFSansMedium';
  font-style: normal;
  font-weight: 500;
  font-size: small;
}

.dateInfo {
  font-family: 'ROKAFSansMedium';
  font-style: normal;
  font-weight: 500;
  font-size: small;
  color: #9FA0A0;
}

.timeInfo {
  font-family: 'ROKAFSansMedium';
  font-style: normal;
  font-weight: 500;
  font-size: small;
  color: #9FA0A0;
}

.dateTime {
  text-align: end;
  height: auto;
}