@font-face {
  font-family: "ROKAFSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.container {
  font-family: "ROKAFSansMedium";

  height: 93vh;
  background-color: #e5e5e5;
}

.content {
  height: 100%;
  margin: 0px 20%;

  display: flex;
  flex-direction: column;

  background-color: #e5e5e5;
}

.textMessage {
  height: 30%;

  display: flex;
  align-items: center;

  justify-content: center;

  font-size: 20px;

  color: #601986;
  background-color: #e5e5e5;
}

.dateHolder {
  height: 65%;

  margin: 0px 20px 10px 20px;

  display: flex;
  flex-direction: column;

  border-radius: 20px;

  box-shadow: 0px 5px 10px -10px;

  background-color: white;
}

.dateHeader {
  height: 16%;
  display: flex;

  border-bottom: 1px solid #e5e5e5;

  background-color: white;
}

.switchDateView {
  width: 24%;

  margin: 15px 10px;

  border-radius: 10px;

  display: flex;

  background-color: #f7f6f8;
}

.month,
.week,
.day {
  width: 50%;

  display: flex;
  align-items: center;

  justify-content: center;

  padding: 0px 15px;

  font-size: 15px;
}

.month,
.week {
  border-right: 1px solid #e5e5e5;
}

.currentButtonHolder {
  width: 76%;

  /* 세로 정렬 */
  display: flex;
  align-items: center;

  justify-content: right;

  padding-right: 20px;
}

.currentButton {
  padding: 8px 12px;
  border-radius: 15px;
  border: 2px solid #601986;

  font-size: 16px;
  color: #601986;
}

.roomInfo {
  height: 85%;
  display: flex;
}

.switchDisplayView,
.SelectBox {
  display: flex;

  width: 50%;
}

.switchDisplayView {
  border-right: 1px solid #e5e5e5;
}

.SelectBox {
  display: flex;
  flex-direction: column;
}

.timeDisplay {
  height: 55%;

  margin: 5px 12px;

  border-radius: 10px;
  border: 2px solid #601986;
}

.timeSelectButton {
  height: 30%;
  margin: 0px 15px;
}

.start,
.finish {
  display: flex;
  height: 50%;
}

.Text {
  width: 20%;
  padding-left: 20px;
}

.date,
.time {
  width: 40%;
  margin: 8px;

  border-radius: 5px;

  padding-left: 20px;

  font-size: 16px;
  font-family: "ROKAFSansMedium";

  color: #601986;
  background-color: #f7f6f8;
}

.time {
  width: 30%;
}

.nextButton {
  height: 13%;

  margin: 15px 15px;
  border-radius: 10px;

  display: flex;
  align-items: center;

  justify-content: center;

  padding-left: 20px;

  font-size: 18px;
  color: white;
  background-color: #9fa0a0;
}

/* //////////////////////////////////////// */

.calendarHolder {
  width: 100%;
}

.react-calendar {
  width: 100%;
  height: 100%;

  margin: 0px;

  background: white;
  /* line-height: 5em; */

  font-family: "ROKAFSansMedium";
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 52px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;

  padding-top: 10px;

  font-size: 22px;
  font-family: "ROKAFSansMedium";
  border-bottom: 1px solid #e5e5e5;

  color: #601986;
}
.react-calendar__navigation button:disabled {
  background-color: white;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;

  font-family: "ROKAFSansMedium";
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 30px;

  font-size: 15px;
  font-family: "ROKAFSansMedium";
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
/* 
.react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
}
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;

  background: #6f48eb;
  color: white;
}
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;

  background: red;
  color: white;
} */

.Reservation {
  padding: 25px 10px;

  margin-right: 5px;

  border-radius: 7px;

  color: white;
}

.Reservations {
  margin: 10px;

  height: 90%;
  display: flex;
}

.R_Name {
  font-size: 16px;

  padding-bottom: 10px;
}

.R_time {
  font-size: 14px;
}
