.navBar {
  display: flex;
  list-style: none;

  background-color: black;
}

.navBarMenu {
  margin: 5px;
  padding: 0px 10px;

  background-color: red;
}

.navBarMenu:hover {
  background-color: seagreen;
}

.navTitle {
  color: white;
}
