@font-face {
  font-family: "ROKAFSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.header {
  display: flex;

  box-shadow: 0px 0px 3px 0px;

  background-color: #601986;
}

.curTitle {
  width: 40%;

  display: flex;
  align-items: center;

  padding-left: 10px;

  font-family: "ROKAFSansMedium";

  color: white;
  background-color: #601986;
}

.navBar {
  width: 60%;

  padding: 5px 0px 0px 0px;

  display: flex;
  list-style: none;

  background-color: white;
}

.navBarMenu {
  padding: 0px 10px;

  width: 33%;

  /* 수직 정렬 */
  display: flex;
  align-items: center;

  /* 수평 정렬 */
  justify-content: center;
  text-align: center;

  /* border-radius: 10px; */

  background-color: white;
}
